<!--CONTENEDOR-->
<mat-drawer-container class="example-container" autosize>
    
    <!--SIDEBAR-->
    <mat-drawer style="width: 150px;" [opened]="showSidebar" #drawer class="example-sidenav" mode="over">
        <app-sidebar></app-sidebar>
    </mat-drawer>     

<!--CONTENIDO-->
    <div class="example-sidenav-content">

            <!--toolbar-->
<app-toolbar (toggleSidebar)="showSidebar = !showSidebar"></app-toolbar>

    <main style="padding: 1rem;">
        <h1 appHeadline >Alumnos</h1>
        <!-- <app-forms></app-forms> -->
        <app-users></app-users>
    </main>
    </div>

</mat-drawer-container>

